.button {
}

.disabled {
  color: aqua;
}

.secondary {
  color: burlywood;
}

.default {
  color: burlywood;
}

.red {
  color:red
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
