.button {
}

.disabled {
  color: rgb(11, 12, 12);
}

.secondary {
  color: rgb(29, 37, 146);
}

.default {
  color: rgb(0, 124, 6);
}

.red {
  color:red
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
