.button {
  padding: 8px;
  border-radius: 10px;
}

.disabled {
  color: rgb(11, 12, 12);
}

.secondary {
  color: rgb(29, 37, 146);
}

.default {
  color: rgb(0, 124, 6);
}

.red {
  color:red
}

.default:hover {
  position: relative;
  top: 3px;
}

.red:hover {
  position: relative;
  top: 3px;
}

.secondary:hover {
  position: relative;
  top: 1.5px;
}


.default:active {
  transform: scale(1.1);
}

.secondary:active {
 transform: scale(1.1)
}

.red:active {
  transform: scale(1.1)
}

.button:disabled {
  border: 1px solid black;
}
